// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Tailwind
@tailwind base;

@tailwind components;

@tailwind utilities;


body {
  font-family: 'Source Sans Pro', sans-serif;
}

.gradient {
  //background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  background: linear-gradient(90deg, $brand-1 0%, $brand-2 100%);

}
